.shop-now-btn {
    background-color: transparent; /* Transparent background */
    border: 2px solid; /* Border color defined by theme */
    color: inherit; /* Inherit text color based on the theme */
    border-radius: 25px; /* Adjusted border radius for a smoother look */
    padding: 10px 20px; /* Increased padding for a more prominent button */
    font-size: 18px; /* Increased font size for better readability */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px; /* Adjusted margin for better spacing */
    transition: border-color 0.3s, color 0.3s, transform 0.3s;
}

.shop-now-btn img {
    margin-right: 10px;
}

.shop-now-btn:hover {
    transform: scale(1.05); /* Slight enlarge on hover */
    /* Border color will transition based on theme */
}

/* Day Theme Styles for Shop Now Button */
.day-theme .shop-now-btn {
    color: #000000; /* Black text for day theme */
    border-color: #000000; /* Black border for day theme */
}

.day-theme .shop-now-btn:hover {
    border-color: #333333; /* Darker border on hover for day theme */
}

/* Night Theme Styles for Shop Now Button */
.night-theme .shop-now-btn {
    color: #ffffff; /* White text for night theme */
    border-color: #ffffff; /* White border for night theme */
}

.night-theme .shop-now-btn:hover {
    border-color: #cccccc; /* Light gray border on hover for night theme */
}

/* Centralized Jump to Top Button Styles */
.jump-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dd3649;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.jump-to-top:hover {
    background-color: #c12e42;
}

/* New button styles with unique prefix */
.pi-btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    transition: background-color 0.3s;
}
.pi-btn-secondary:hover {
    background-color: #5a6268;
}