.shop-now-btn {
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    border: 2px solid #ffffff; /* White border for visibility on dark background */
    color: #ffffff; /* White text for visibility on dark background */
    border-radius: 25px;
    padding: 8px 16px; /* Smaller padding to fit in navbar */
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Change to relative positioning in navbar */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-family: 'Lato', sans-serif !important;
    margin-left: 1rem;
}

.navbar.scrolled .shop-now-btn {
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
}

.shop-now-btn img {
    margin-right: 10px;
}

.shop-now-btn:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar.scrolled .shop-now-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* New button styles with unique prefix */
.pi-btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    transition: background-color 0.3s;
}
.pi-btn-secondary:hover {
    background-color: #5a6268;
}