/* Import Lato and Cinzel */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Cinzel:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

/* Ensure sufficient color contrast */
body {
    background-color: #ffffff;
    color: #333333;
    font-family: 'Cinzel', serif;
}

.pi-body a:hover, 
.pi-body button:hover {
  transition: 0.3s;
}

.pi-body a:focus, 
.pi-body button:focus, 
.pi-body input:focus, 
.pi-body textarea:focus {
    outline: 2px solid #dd3649;
    outline-offset: 2px;
}

/* Add comments for section headings */
.header {
    text-align: center;
    padding: 20px;
}

/* Additional styles for improved accessibility and performance */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
    padding: 15px;
}

.btn {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Cinzel', serif;
}

.btn:hover {
    background-color: #c12e42;
    color: #ffffff;
}

.pi-btn-custom {
    background: linear-gradient(45deg, #2196f3, #1e88e5);
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 5px;
    transition: transform 0.3s, background 0.3s;
    font-family: 'Cinzel', serif;
}
.pi-btn-custom:hover {
    background: linear-gradient(45deg, #1e88e5, #2196f3);
    transform: translateY(-2px);
}

/* Set header text to Cinzel */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}

/* Set body text to Lato only */
body {
    font-family: 'Lucida Sans', sans-serif;
}