<footer class="footer">
    <div class="social-icons">
        <a href="https://www.facebook.com/pawnislandapparel" target="_blank" aria-label="Facebook">
            <img src="../../images/social-icons/fb-day.png" alt="Facebook" class="social-icon day-logo" loading="lazy">
        </a>
        <a href="https://www.facebook.com/pawnislandapparel" target="_blank" aria-label="Facebook">
            <img src="../../images/social-icons/fb-night.png" alt="Facebook" class="social-icon night-logo d-none">
        </a>
        <a href="https://www.x.com/raisethecurve" target="_blank" aria-label="X">
            <img src="../../images/social-icons/x-logo-day.png" alt="X" class="social-icon day-logo">
        </a>
        <a href="https://www.x.com/raisethecurve" target="_blank" aria-label="X">
            <img src="../../images/social-icons/x-logo-night.png" alt="X" class="social-icon night-logo d-none">
        </a>
        <a href="https://truthsocial.com/@raisethecurve" target="_blank" aria-label="Truth Social">
            <img src="../../images/social-icons/truth-day.png" alt="Truth Social" class="social-icon day-logo">
        </a>
        <a href="https://truthsocial.com/@raisethecurve" target="_blank" aria-label="Truth Social">
            <img src="../../images/social-icons/truth-night.png" alt="Truth Social" class="social-icon night-logo d-none">
        </a>
        <a href="https://www.instagram.com/pawnislandapparel" target="_blank" aria-label="Instagram">
            <img src="../../images/social-icons/insta-universal.png" alt="Instagram" class="social-icon day-logo">
        </a>
        <a href="https://www.instagram.com/pawnislandapparel" target="_blank" aria-label="Instagram">
            <img src="../../images/social-icons/insta-universal.png" alt="Instagram" class="social-icon night-logo d-none">
        </a>
        <a href="https://www.linkedin.com/in/matthew-freeman-8879302a3/" target="_blank" aria-label="LinkedIn">
            <img src="../../images/social-icons/linked-universal.png" alt="LinkedIn" class="social-icon day-logo">
        </a>
        <a href="https://www.linkedin.com/in/matthew-freeman-8879302a3/" target="_blank" aria-label="LinkedIn">
            <img src="../../images/social-icons/linked-universal.png" alt="LinkedIn" class="social-icon night-logo d-none">
        </a>
        <a href="https://pawnisland.myshopify.com/collections" target="_blank" rel="noopener noreferrer" aria-label="Shopify">
            <img src="../../images/social-icons/shopify-universal.png" alt="Shopify" class="social-icon day-logo">
        </a>
        <a href="https://pawnisland.myshopify.com/collections" target="_blank" rel="noopener noreferrer" aria-label="Shopify">
            <img src="../../images/social-icons/shopify-universal.png" alt="Shopify" class="social-icon night-logo d-none">
        </a>
        <a href="mailto:info@pawnislandacademy.com" aria-label="Email">
            <img src="../../images/social-icons/gmail-universal.png" alt="Email" class="social-icon day-logo">
        </a>
        <a href="mailto:info@pawnislandacademy.com" aria-label="Email">
            <img src="../../images/social-icons/gmail-universal.png" alt="Email" class="social-icon night-logo d-none">
        </a>
    </div>
    <p class="footer-text">&copy; <span id="current-year">2025</span> Pawn Island Academy™<br />Chess Coaching in Rhode Island<br />All rights reserved.</p>
    <script>
        document.getElementById("current-year").textContent = new Date().getFullYear();
    </script>      
</footer>