<!-- header.html -->
<nav class="navbar">
    <div class="logo-container">
        <span class="brand-text-left">Pawn</span>
        <a id="brand-toggle" aria-label="Toggle Theme">
            <img src="../../images/branding/pia-day.png" alt="Pawn Island Academy Logo" class="day-logo">
            <img src="../../images/branding/pia-night.png" alt="Pawn Island Academy Logo Night" class="night-logo d-none">
        </a>
        <span class="brand-text-right">Island</span>
    </div>
    <button class="hamburger" aria-label="Toggle navigation">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
    </button>
    <ul class="nav-links">
        <li><a href="../landing/about.html">About</a></li>
        <li><a href="../landing/coaching.html">Lessons</a></li>
        <li><a href="../landing/reviews.html">Reviews</a></li>
        <li><a href="https://pawnisland.myshopify.com/collections">Merch</a></li>
        <li>
            <a href="#" class="dropdown-toggle">Blog</a>
            <ul class="dropdown-menu">
                <li><a href="blog1.html">Post 1</a></li>
                <li><a href="blog2.html">Post 2</a></li>
            </ul>
        </li>
    </ul>
</nav>